<div class="myContainer">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">List Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of this.lists; index as i">
        <th
          scope="row"
          *ngIf="
            x.listName.toLowerCase().includes(this.filterBar.toLowerCase())
          "
        >
          {{ i + 1 }}
        </th>
        <td
          *ngIf="
            x.listName.toLowerCase().includes(this.filterBar.toLowerCase())
          "
        >
          {{ x.listName }}
        </td>
        <td
          *ngIf="
            x.listName.toLowerCase().includes(this.filterBar.toLowerCase())
          "
        >
          <button
            type="button"
            class="btn btn-primary"
            (click)="clickListButton(x)"
          >
            View
          </button>
        </td>
        <td
          *ngIf="
            x.listName.toLowerCase().includes(this.filterBar.toLowerCase())
          "
        >
          <button
            *ngIf="
              x.listName.toLowerCase().includes(this.filterBar.toLowerCase())
            "
            type="button"
            class="btn btn-danger"
            (click)="clickDeleteButton(x)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <input
    class="myInput"
    type="text"
    [(ngModel)]="this.myList.listName"
    placeholder="New List Name"
  />

  <button type="button" class="btn btn-warning" (click)="clickAddTable()">
    Make a new List
  </button>
  <input
    class="myInput"
    type="text"
    [(ngModel)]="filterBar"
    placeholder="Filter..."
  />
</div>
