<div class="myContainer">
  <h1>{{ myList.listName }}</h1>
  <p *ngIf="this.myItems.length < 1">
    You don't have any items yet. Try to add one!
  </p>

  <table class="table" *ngIf="this.myItems.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of this.myItems; index as i">
        <th
          *ngIf="
            x.itemName.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
            x.itemType.toLowerCase().includes(this.typeFilter.toLowerCase())
          "
          scope="row"
        >
          {{ i + 1 }}
        </th>
        <td
          *ngIf="
            x.itemName.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
            x.itemType.toLowerCase().includes(this.typeFilter.toLowerCase())
          "
        >
          {{ x.itemName }}
        </td>
        <td
          *ngIf="
            x.itemName.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
            x.itemType.toLowerCase().includes(this.typeFilter.toLowerCase())
          "
        >
          {{ x.itemType }}
        </td>
        <td
          *ngIf="
            x.itemName.toLowerCase().includes(this.nameFilter.toLowerCase()) &&
            x.itemType.toLowerCase().includes(this.typeFilter.toLowerCase())
          "
        >
          <button
            type="button"
            class="btn btn-primary"
            (click)="clickDeleteItem(x.itemId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <input
    type="text"
    [(ngModel)]="this.newItem.itemName"
    placeholder="New Item Name"
    class="myInput"
  />
  <input
    type="text"
    [(ngModel)]="this.newItem.itemType"
    placeholder="New Item Type"
    class="myInput"
  />
  <button
    type="button"
    class="btn btn-warning"
    (click)="clickAddItem(this.newItem)"
  >
    Add Item
  </button>

  <button type="button" class="btn btn-danger" (click)="clickBackButton()">
    Back to Lists
  </button>
  <div class="filterDiv">
    <input
      *ngIf="this.myItems.length > 0"
      class="myInput"
      type="text"
      [(ngModel)]="nameFilter"
      placeholder="Filter by name..."
    />
    <input
      *ngIf="this.myItems.length > 0"
      class="myInput"
      type="text"
      [(ngModel)]="typeFilter"
      placeholder="Filter by type..."
    />
  </div>
</div>
